<%= render partial: 'shared/navigation' %>
<section class="recipes-section">
  <% @recipes.each do |recipe| %>
    <section class="recipe-container">
      <div class="recipe-name">
        <h2 class="recipe-title"><%= link_to recipe.name, recipe_path(recipe), class: "recipe-title" %></h2>
        <button class="recipe-del-btn"><%= link_to 'REMOVE', recipe_path(recipe), data: { turbo_method: :delete, confirm: 'Are you sure?' }, class: "recipe-del-btn" %></button>
      </div>
      <div class="recipe-desc">
        <p><%= recipe.description %></p>
      </div>
    </section>
  <% end %>
  <div class='add-recipe'>
    <h2><%= link_to 'Add new Recipe', new_recipe_path, class:'recipe_add_btn' %></h2>
    <h2> <%= link_to 'Public Recipes', public_recipes_path, class:'recipe_add_btn' %></h2>
    <h2> <%= link_to 'Home', root_path, class:'recipe_add_btn' %></h2>
  </div>
</section>