<%= render partial: 'shared/navigation' %>
<section class="recipes-section">
  <% @recipes.each do |recipe| %>
    <section class="recipe-container">
      <div>
        <h2><%= link_to recipe.name, recipe_path(recipe), class: "recipe-title" %></h2>
        <%= link_to 'REMOVE', recipe_path(recipe), data: { turbo_method: :delete, confirm: 'Are you sure?' } %>
      </div>
      <div>
        <p><%= recipe.description %></p>
      </div>
    </section>
  <% end %>
  <div class='add-recipe'>
    <h2><%= link_to 'Add new Recipe', new_recipe_path, class:'recipe_add_btn' %></h2>
    <h2> <%= link_to 'Home', root_path, class:'recipe_add_btn' %></h2>
  </div>
</section>