<%= render partial: 'shared/navigation' %>
<section class="add-recipe-section">
  <h2>Add new Recipe</h2>
  <%= form_with model: @recipe, url: recipes_path do |form| %>
    <div class="field">
      <%= form.text_field :name, class: 'add-food-form', placeholder: 'Recipe name'%>
    </div>
    <div class="field">
      <%= form.text_area :description, class: 'add-food-form', placeholder: 'Description'%>
    </div>
    <div class="field">
      <%= form.number_field :preparation_time, class: 'add-food-form', placeholder: 'Preparation name (minutes)' %>
    </div>

    <div class="field">
      <%= form.number_field :cooking_time, class: 'add-food-form', placeholder: 'Cooking time (minutes)' %>
    </div>

    <div class="field">
      <%= form.label :public %>
      <%= form.check_box :public, class: 'add-food-form' %>
    </div>

    <div class="actions">
      <%= form.submit class: 'input submit'%>
    </div>
  <% end %>
</section>