<%= render partial: 'shared/navigation' %>
<section class="recipe-details-section">
  <h2 class="recipe-name"><%= @recipe.name %></h2>
  <div class="recipe-details-info">
    <div>
      <h3>Prepration Time: <%= @recipe.preparation_time %> minutes</h3>
      <h3>Cooking Time: <%= @recipe.cooking_time %> minutes</h3>
      <h3>Steps:</h3>
      <p><%= @recipe.description %></p>
    </div>
    <div>
      <%= form_with(model: @recipe, local: true) do |form| %>
        <div class="form-group">
          <%= form.label :public %>
          <div class="toggle-switch">
            <%= form.check_box :public, class: "toggle-checkbox", id: "public-toggle" %>
            <label for="public-toggle" class="toggle-label"></label>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <section class="buttons-section">
    <button type="submit" class="btn"><%=link_to 'Generate Shopping List', shopping_list_path, class:'btn-recipe' %></button>
    <button type="submit" class="btn"><%=link_to 'Add Ingredients', new_recipe_recipe_food_path(@recipe), class:'btn-recipe' %></button>
  </section>
  <hr>
  <div class='food-table'>
    <table>
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Value</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @recipe.recipe_foods.each do |ingredient| %>
          <tr>
            <td><%= ingredient.food.name %></td>
            <td><%= ingredient.quantity %></td>
            <td><%= ingredient.food.price %></td>
            <td><%= link_to 'Modify', edit_recipe_recipe_food_path(@recipe, ingredient), class:'td-btn' %>
             <%= link_to 'Remove', recipe_recipe_food_path(@recipe, ingredient), method: :delete, class:'td-btn' %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <h2><%=link_to 'Back', recipes_path%></h2>
</section>