<header>
  <nav class="nav-bar">
    <ul>
      <li><%= link_to 'Food Items', foods_path %></li>
      <li><%= link_to 'Recipes', recipes_path %></li>
      <li><%= link_to 'Public Recipes', public_recipes_path %></li>
      <li><%= link_to 'Shopping list' %></li>
      <%= render partial: 'devise/shared/logout' %>
    </ul>
  </nav>
</header>
